@CHARSET "ISO-8859-1";
@font-face {
	font-family: Digital;
	src: url("#{resource['fonts:DS-DIGI.TTF']}") format('truetype');
}

.logo{
	width: 300px;
}

.headerColumn1{
	width: 50%;
    text-align: left;
}

.headerColumn2{
	width: 50%;
    text-align: right;
}

#reloj{
	background: none;
	border: none;
  	font-size: 500%;
  	margin-top: 1.6%;
  	font-family: Digital;
}
