/*.logo{	
	width: 27%;
	margin-left: 2%;
}*/

/*.ui-clock{
    margin-left: 77%; 
}*/

/*.advice{ 
	font-size: 380%;
	margin-left: 3%; 
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-top: 5%;
}

.siglas{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	margin-top: 6.8%;
}

.direccion{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 90%;
	margin-top: -1%;
}

.divFooter{
	background-color: #f4f1f0;
	margin-top: 0%;
	padding: 1.5%;
	margin-right: -0.5%;
	margin-left: -0.5%;
}

.divFooter #uno,#dos,#tres,#cuatro,#cinco{
	text-decoration: none;
	color: gray;
	margin-right: 2%;
}

.divFooter #dos{
	margin-right: 67%;
}

.divFooter #cinco{
	margin-right: -1%;
}*/

/*#reloj{
	background: none;
	border: none;
  	font-size: 500%;
  	position: fixed;
  	margin-top: 1.6%;
  	font-family: Digital;
}*/