@CHARSET "ISO-8859-1";
@font-face {
	font-family: Digital;
	src: url("#{resource['fonts:DS-DIGI.TTF']}") format('truetype');
}

.logo{
	width: 300px;
}

.dialogFooter{
	width: 17%;
    text-align: right;
}

.headerColumn1{
	width: 65%;
    text-align: left;
}

.headerColumn2{
	width: 35%;
    text-align: right;
}

.footer {
	text-align: center;
   	position:fixed;
   	bottom:10px;
   	left: 5px;
   	height:70px;
   	width:99%;
}

.footerGeneral {
	text-align: center;
   	height:70px;
   	width:99%;
}


.footerCeaft{
	margin-top: 2.4em;
	text-align: center;
	color: #999;
	font-size: 1.1em;
	text-align: center;
}

.footerAddress{
	margin-top: 2.4em;
	text-align: center;
	color: #999;
	font-size: .98em;
	text-align: center;
}

.advice{
	font-size: 80px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#reloj{
	background: none;
	border: none;
  	font-size: 500%;
  	margin-top: 1.6%;
  	font-family: Digital;
}

.debe{
	background-color: #4267b2;
	color: white;
}
